:root {
  --primary-color: #D4AF37;
  --primary-color-rgb: 212, 175, 55;
  --secondary-color: #D32F2F;
  --secondary-color-rgb: 211, 47, 47;
  --accent-blue: #003366;
  --accent-blue-rgb: 0, 51, 102;
}
